\:root
  --announcement-text-color: #{"{{ theme.announcement_text_color }}"}
  --announcement-background-color: #{"{{ theme.announcement_background_color }}"}

  --primary-font: #{"{{ theme.primary_font | font_family }}"}
  --secondary-font: #{"{{ theme.secondary_font | font_family }}"}

  --font-scale: #{'{{ theme.global_text_scale | default: 1 }}'}
  --shop-name-scale: #{'{{ theme.shop_name_text_scale | default: 1 }}'}
  --product-grid-scale: #{'{{ theme.product_grid_scale | default: 1 }}'}
  --product-title-scale: #{'{{ theme.product_page_heading_scale | default: 1 }}'}
  --product-description-scale: #{'{{ theme.product_page_description_scale | default: 1 }}'}
  --header-scale: #{'{{ theme.header_text_scale | default: 1 }}'}
  --footer-scale: #{'{{ theme.footer_text_scale | default: 1 }}'}

  --border-radius: 0

  --border-color: #{'rgba(var(--primary-text-color-rgb), .3)'}
  --header-border-color: #{'rgba(var(--primary-text-color-rgb), .3)'}

  --background-color: #{"{{ theme.background_color }}"}
  --content-background-color: #{"{{ theme.content_background_color }}"}

  --accent-background-color: #{"{{ theme.accent_background_color }}"}
  --accent-text-color: #{"{{ theme.accent_text_color }}"}

  --header-text-color: #{"{{ theme.header_text_color }}"}

  --primary-text-color: #{"{{ theme.primary_text_color }}"}
  --secondary-text-color: #{"{{ theme.secondary_text_color }}"}

  --button-text-color: #{"{{ theme.button_text_color }}"}
  --button-background-color: #{"{{ theme.button_background_color }}"}
  --button-hover-background-color: #{"{{ theme.button_hover_background_color }}"}

  --badge-text-color-primary: #{"{{ theme.badge_text_color_primary }}"}
  --badge-background-color-primary: #{"{{ theme.badge_background_color_primary }}"}
  --badge-text-color-secondary: #{"{{ theme.badge_text_color_secondary }}"}
  --badge-background-color-secondary: #{"{{ theme.badge_background_color_secondary }}"}

  --inventory-status-text-color: #{"{{ theme.inventory_status_text_color }}"}

  --link-text-color: #{"{{ theme.link_text_color }}"}
  --link-hover-color: #{"{{ theme.link_hover_color }}"}

  --error-background-color: #950f1e
  --error-text-color: #FFFFFF

  --header-height: 140px
  --header-height-tablet: 96px
  --header-height-mobile: 64px

  --padding-value: 8px
  --large-padding: calc(var(--padding-value) * 5)
  --med-padding: calc(var(--padding-value) * 4)
  --small-padding: calc(var(--padding-value) * 2)

  // Video player customization
  --video-rounded-radius: 8px
  --video-size-small: 450px
  --video-size-medium: 650px
  --video-size-large: 100%

$break-extra-large: 1200px
$break-large: 1024px
$break-medium: 968px
$break-small: 668px
$break-extra-small: 500px
