\:root
  --announcement-text-color: #{"{{ theme.announcement_text_color }}"}
  --announcement-background-color: #{"{{ theme.announcement_background_color }}"}

  --primary-font: #{"{{ theme.primary_font | font_family }}"}
  --secondary-font: #{"{{ theme.secondary_font | font_family }}"}

  --border-radius: 0

  --background-color: #{"{{ theme.background_color }}"}
  --content-background-color: #{"{{ theme.content_background_color }}"}

  --accent-background-color: #{"{{ theme.accent_background_color }}"}
  --accent-text-color: #{"{{ theme.accent_text_color }}"}

  --primary-text-color: #{"{{ theme.primary_text_color }}"}
  --secondary-text-color: #{"{{ theme.secondary_text_color }}"}

  --button-text-color: #{"{{ theme.button_text_color }}"}
  --button-background-color: #{"{{ theme.button_background_color }}"}
  --button-hover-background-color: #{'rgba(var(--button-background-color-rgb), .8)'}

  --status-background-color: #{"{{ theme.status_background_color }}"}
  --links-color: #{"{{ theme.links_color }}"}

$header-height: 140px
$header-height-tablet: 96px
$header-height-mobile: 64px

$break-extra-large: 1200px
$break-large: 1024px
$break-medium: 968px
$break-small: 668px
$break-extra-small: 500px