

section.content
  .cart-page
    max-width: 828px

    &.empty-cart
      height: 240px

      @media screen and (max-width: $break-small)
        height: 120px
        min-height: 120px

.cart-page
  .empty-cart-message
    display: none

  &.empty-cart
    .empty-cart-message
      +flexbox

.cart-form
  margin: 0 auto
  width: 100%

  @media screen and (max-width: $break-small)
    padding-bottom: 184px

.cart-items
  list-style: none
  margin: 0
  padding: 0
  width: 100%

  @media screen and (max-width: $break-small)
    border-top: none

  .cart-item
    +flexbox
    +align-items(center)
    border-bottom: 2px solid $background-color
    font-size: 18px
    padding: 16px
    position: relative
    text-transform: uppercase

    @media (max-width: $break-small)
      align-items: start
      display: grid
      grid-template: repeat(2,auto) / repeat(4,1fr)
      padding-right: 16px

  .item-image-link
    height: 160px
    width: 160px

    @media (max-width: $break-small)
      height: 100px
      grid-row: 1 / 2
      width: auto

  .item-image
    display: block
    height: 100%
    object-fit: cover
    width: 100%

  .item-details
    +flexbox
    +align-items(center)
    font-family: $primary-font
    font-size: 1em
    line-height: 1.5
    padding: 0 48px 0 16px

    @media (max-width: $break-small)
      grid-column: 2 / 4
      font-size: .975em
      padding-right: 16px

  .item-product-link
    color: $primary-text-color
    display: block

  .item-details-option
    color: $primary-text-color
    display: block
    font-family: $secondary-font
    font-size: .825em
    margin-top: 6px

  .item-details-price
    color: $secondary-text-color
    display: block
    font-family: $secondary-font
    margin-bottom: 10px

  .item-quantity-holder
    +flexbox
    +align-items(center)
    +flex-direction(column)
    font-size: .925em
    margin-left: auto

    @media (max-width: $break-small)
      grid-column: 4/4
      margin: 0

  .item-quantity-inner
    +flexbox
    +align-items(center)
    border: 2px solid $background-color
    padding: 16px

    @media (max-width: $break-small)
      +flex-direction(column)
      padding: 8px 16px

    label
      display: block
      padding: 8px

    input
      +appearance(none)
      background: none
      border: 0
      margin-left: auto
      padding: 8px
      text-align: center
      outline: none
      width: 64px

    &:hover, &:focus, &:focus-within
      outline: 2px auto
      border-radius: 0

  .item-delete
    +appearance(none)
    background: none
    color: $secondary-text-color
    cursor: pointer
    font-size: 14px
    padding: 8px
    text-decoration: underline
    margin-top: 8px

.cart-footer
  +flexbox
  +justify-content(center)
  background: $accent-background-color
  color: $accent-text-color
  padding: 48px 32px
  position: relative
  width: 100%

  &.fixed-cart-footer
    @media screen and (max-width: $break-small)
      bottom: 64px
      padding: 32px
      position: fixed
      width: 100%

  .cart-total
    color: $accent-text-color
    font-size: 22px
    text-transform: uppercase

    @media screen and (max-width: $break-medium)
      font-size: 18px

  .cart-amount
    display: inline-block
    text-align: right
    width: 200px

    @media screen and (max-width: $break-medium)
      float: right
      width: auto

  button, .button
    max-width: 100%

    @media screen and (max-width: $break-medium)
      display: none
      font-size: 16px

    @media screen and (max-width: $break-small)
      font-size: 18px

.cart-footer-buttons
  +flexbox

a.continue-shopping, .checkout-btn
  text-align: center
  text-transform: uppercase
  width: 50%

  @media screen and (max-width: $break-medium)
    display: none

a.continue-shopping
  background: $accent-background-color
  color: $accent-text-color
  opacity: .8

  &:hover, &:focus
    opacity: 1 !important