@import 'variables'

section.content
  .cart-page
    max-width: 828px

    &.empty-cart
      height: 240px

      @media screen and (max-width: $break-small)
        height: 120px
        min-height: 120px

.cart-page
  .empty-cart-message
    display: none

  &.empty-cart
    .empty-cart-message
      +flexbox

.cart-form
  margin: 0 auto
  width: 100%

  @media screen and (max-width: $break-small)
    padding-bottom: 184px

.cart-items
  list-style: none
  margin: 0
  padding: 0
  width: 100%

  @media screen and (max-width: $break-small)
    border-top: none

  .cart-item
    +flexbox
    +align-items(center)
    border-bottom: 2px solid $background-color
    font-size: 16px
    height: 162px
    line-height: 15px
    padding: 0
    position: relative
    text-transform: uppercase

  .item-image-details
    +flexbox
    +align-items(center)
    height: 160px
    max-width: 65%
    width: 100%

    @media screen and (max-width: $break-medium)
      max-width: 70%

    @media screen and (max-width: $break-small)
      max-width: 100%

  .item-image
    background-position: 50%
    background-repeat: no-repeat
    background-size: cover
    border-right: 2px solid $background-color
    height: 100%
    max-width: 160px
    position: relative
    text-align: center
    width: 100%

    @media screen and (max-width: $break-small)
      max-width: 40%

    .item-delete
      +flexbox
      +align-items(center)
      +justify-content(center)
      background: $accent-background-color
      cursor: pointer
      height: 34px
      left: 20px
      padding: 0
      position: absolute
      text-align: center
      top: 20px
      width: 34px

      svg
        display: block
        fill: $accent-text-color
        height: 12px
        margin: 0 auto
        width: 12px

  .item-details
    font-family: $primary-font
    max-width: calc(100% - 160px)
    padding: 0 48px
    width: 100%

    @media screen and (max-width: $break-medium)
      padding: 0 32px

    @media screen and (max-width: $break-small)
      max-width: 60%
      padding: 0 16px

  .item-product-link
    color: $primary-text-color
    display: block
    font-size: 18px

    @media screen and (max-width: $break-medium)
      font-size: 20px

  .item-details-name
    line-height: 20px

    @media screen and (max-width: $break-small)
      font-size: 14px
      line-height: 20px

  .item-details-option
    color: $primary-text-color
    display: block
    font-family: $secondary-font
    font-size: 13px
    line-height: 17px
    margin-top: 6px
    opacity: .7

    @media screen and (max-width: $break-small)
      font-size: 12px

  .item-details-price
    color: $links-color
    display: block
    font-family: $secondary-font
    font-size: 18px
    line-height: 17px
    margin-bottom: 10px

    @media screen and (max-width: $break-medium)
      display: block

    @media screen and (max-width: $break-small)
      font-size: 14px
      margin-bottom: 6px

  .item-quantity-holder
    +flexbox
    +align-items(center)
    border: 2px solid $background-color
    cursor: pointer
    height: 64px
    margin-left: auto
    margin-right: 48px
    padding: 5px 16px
    padding-right: 10px
    width: 128px

    @media screen and (max-width: $break-small)
      .item-quantity-inner
        +flexbox
        +align-items(center)
        +justify-content(center)
        +flex-direction(column)
        height: 100%


    @media screen and (minw-width: $break-small+1)
      &:hover, &:focus, &:focus-within
        border: 2px solid $primary-text-color

    @media screen and (max-width: $break-small)
      border: 0
      border-left: 2px solid $background-color
      height: 100%
      margin-right: 0
      width: 25%

    .quantity-label
      font-size: 16px
      line-height: 40px
      opacity: .8
      width: 50%

      @media screen and (max-width: $break-small)
        display: block
        line-height: 20px
        text-align: center
        width: 100%

    .option-quantity
      background: none
      border: none
      color: $primary-text-color
      font-size: 16px
      height: 40px
      padding: 10px
      text-align: right
      width: 50%

      @media screen and (max-width: $break-small)
        padding: 0
        position: relative
        text-align: center
        width: 100%

      &:focus
        box-shadow: none
        outline: none

.cart-footer
  +flexbox
  +justify-content(center)
  background: $accent-background-color
  color: $accent-text-color
  padding: 48px 32px
  position: relative
  width: 100%

  &.fixed-cart-footer
    @media screen and (max-width: $break-small)
      bottom: 64px
      padding: 32px
      position: fixed
      width: 100%

  .cart-total
    color: $accent-text-color
    font-size: 22px
    text-transform: uppercase

    @media screen and (max-width: $break-medium)
      font-size: 18px

  .cart-amount
    display: inline-block
    text-align: right
    width: 200px

    @media screen and (max-width: $break-medium)
      float: right
      width: auto

  button, .button
    max-width: 100%

    @media screen and (max-width: $break-medium)
      display: none
      font-size: 16px

    @media screen and (max-width: $break-small)
      font-size: 18px

.cart-footer-buttons
  +flexbox

a.continue-shopping, .checkout-btn
  text-align: center
  text-transform: uppercase
  width: 50%

  @media screen and (max-width: $break-medium)
    display: none

a.continue-shopping
  background: $accent-background-color
  color: $accent-text-color
  opacity: .8