@import 'variables'

*
  box-sizing: border-box

html
  min-height: 100%
  position: relative

body
  background-color: $background-color
  color: $primary-text-color
  font-family: $primary-font
  font-size: 16px
  line-height: 1
  padding-top: $header-height
  padding-bottom: 288px
  overflow-y: scroll

  @media screen and (max-width: $break-medium)
    padding-top: $header-height-tablet

  @media screen and (max-width: $break-small)
    background: $content-background-color
    padding-top: $header-height-mobile

  &.standalone-page
    padding: 140px 60px
    text-align: center

    @media screen and (max-width: $break-medium)
      padding: 80px 20px

    .message-holder
      background: $content-background-color
      margin: 0 auto
      max-width: 800px
      padding: 64px 32px
      width: 100%

    h1
      color: $primary-text-color
      font-size: 22px
      line-height: 1.6em
      margin: 0
      text-align: center

      &.checkout-header
        margin-bottom: 0

.maintenance-icons
  display: block
  margin: 72px 0 0
  padding: 0

  li
    display: inline-block

    a
      display: block
      padding: 0 15px

      @media screen and (max-width: $break-small)
        padding: 0 12px

      svg
        +all-transitions
        fill: $primary-text-color
        height: 22px
        width: 22px

      &:hover svg
        fill: $links-color

.errors
  background: #EA4859
  color: #FAFAFA
  font-size: 14px
  line-height: 20px
  list-style: none
  margin-bottom: 0
  padding: 32px
  text-align: center
  text-transform: uppercase
  width: 100%

  &.cart-errors
    margin: 0 auto
    max-width: 828px

.wrapper
  +pie-clearfix
  margin: 0 auto
  padding: 0 64px
  position: relative
  width: 100%

a, a:visited
  color: $primary-text-color
  text-decoration: none

h1, h2, h3, h4, h5, h6
  color: $primary-text-color
  font-weight: normal
  margin: 0
  padding: 0
  text-align: left
  text-transform: uppercase

::-webkit-input-placeholder
  color: $primary-text-color

header
  +transition(height .4s)
  background: $content-background-color
  border-bottom: 2px solid $background-color
  height: $header-height
  position: fixed
  top: 0
  width: 100%
  z-index: 5

  @media screen and (max-width: $break-medium)
    height: $header-height-tablet
    position: absolute

  @media screen and (max-width: $break-small)
    height: $header-height-mobile

  .wrapper
    +flexbox
    +align-items(center)
    +justify-content(space-between)
    height: 100%
    position: relative
    z-index: 5

    @media screen and (max-width: $break-medium)
      height: 100%

    @media screen and (max-width: $break-small)
      height: 100%
      padding: 0

  .header-nav
    +flex(1)
    +flex-basis(33%)
    display: inline-block
    font-size: 14px
    max-width: 33%
    text-align: left
    text-transform: uppercase

    @media screen and (max-width: $break-medium)
      display: none

    .header-nav-pages
      list-style: none
      margin: 0
      padding: 0

      > li
        display: inline-block
        position: relative

        &.dropdown-open
          +all-transitions

          .category-dropdown
            +all-transitions
            display: inline-block
            opacity: 1
            visibility: visible

        > a
          display: block
          line-height: 20px
          padding: 0 8px

          &:after
            content: ''
            display: block
            height: 2px
            width: 100%
            margin: 0 auto
            opacity: 0
            background: $links-color

          &:hover
            +all-transitions
            color: $links-color

            &:after
              +all-transitions
              opacity: 1


      .category-dropdown
        +all-transitions
        background: $content-background-color
        left: -17px
        list-style: none
        margin: 0
        min-width: 250px
        opacity: 0
        padding: 10px 24px
        position: absolute
        text-align: left
        visibility: hidden
        z-index: 3

        li
          display: block

          a
            +all-transitions
            color: $primary-text-color
            display: block
            line-height: 20px
            padding: 8px 2px

            &:hover
              color: $links-color

  .header-store-name
    +flex(2)
    +flex-basis(33%)
    +transform(translateZ(0))
    color: $primary-text-color
    display: inline-block
    font-size: 26px
    height: 160px
    max-width: 33%
    text-align: center

    @media screen and (max-width: $break-medium)
      height: $header-height-tablet
      max-width: 100%

    @media screen and (max-width: $break-small)
      height: $header-height-mobile
      font-size: 16px

    &.image
      height: calc(#{$header-height} / 1.5)

      @media screen and (max-width: $break-medium)
        height: calc(#{$header-height-tablet} / 1.5)

      @media screen and (max-width: $break-small)
        height: calc(#{$header-height-mobile} / 1.5)

      .store-title
        height: auto

      img
        display: block
        height: auto
        margin: 0 auto
        max-height: 100px
        max-width: 100%
        width: auto

        @media screen and (max-width: $break-small)
          max-height: 40px

    .store-title
      +vertical-align
      color: $primary-text-color
      display: inline-block
      line-height: 1.2em

      @media screen and (max-width: $break-medium)
        max-width: 70%

      &:hover
        +all-transitions
        color: $links-color

  .header-search-cart
    +flex(3)
    +flex-basis(33%)
    +pie-clearfix
    display: inline-block
    font-size: 14px
    max-width: 33%
    position: relative
    text-align: right
    text-transform: uppercase

    @media screen and (max-width: $break-medium)
      display: none

    .search-cart-nav
      +pie-clearfix
      float: right
      list-style: none
      margin: 0
      padding: 0

      > li
        float: right
        position: relative

        > a
          +all-transitions
          display: block
          line-height: 20px
          padding: 0 8px

          .cart-num-items
            display: inline-block

          > svg
            +all-transitions
            fill: $primary-text-color
            height: 16px
            margin: 0 10px
            position: relative
            top: 3px
            width: 16px

          &:hover
            +all-transitions
            color: $links-color

            > svg
              +all-transitions
              fill: $links-color

    li.search-container
      +transition(all 0.35s)
      background: $content-background-color
      overflow: hidden
      height: 4em
      width: 4em
      position: absolute
      right: 110px
      top: -17px

      &:hover
        width: 224px

        input
          display: inline-block
          width: 160px
          padding: 10px

    input
      +transition(all 0.25s)
      +appearance(none)
      border: 0
      background: none
      float: left
      width: 0em
      height: 4em
      margin-right: -4.5em
      color: $primary-text-color
      font-size: 1em
      font-weight: 600
      padding: 0px

      &:focus
        outline: none

    .search-button
      float: right
      width: 2em
      height: 2em
      background: transparent
      text-align: center
      font-size: 2em

      svg
        +vertical-align
        display: block
        height: 16px
        margin: 0 auto
        width: 16px
        fill: $primary-text-color

      &:active
        border: 0 !important

  .open-dropdown
    +transition(200)
    display: none
    padding: 8px
    position: absolute
    right: 16px
    top: 50%
    transform: translateY(-50%)

    svg
      +all-transitions
      display: block
      height: 10px
      width: 12px

    &.dropdown-visible svg
      +transform(rotate(180deg))

    @media screen and (max-width: $break-medium)
      display: block
      fill: $primary-text-color

.mobile-navigation
  background: $content-background-color
  border-top: 2px solid $background-color
  display: none
  overflow: hidden
  text-align: center

  .dropdown-search
    padding: 12px 24px

    input
      background: none
      border: 0
      font-size: 14px
      padding: 12px 0
      text-align: center
      text-transform: uppercase

  .mobile-navigation-list
    list-style: none
    margin: 0
    padding: 0
    width: 100%

    li
      border-bottom: 2px solid $background-color
      display: block

      > a
        display: block
        font-size: 14px
        line-height: 18px
        padding: 22px
        text-transform: uppercase

      &.dropdown-icons
        display: flex
        justify-content: center
        left: -2px
        overflow: hidden
        position: relative
        width: calc(100% + 4px)

        > a
          border-left: 2px solid $background-color
          max-width: 20%
          width: 100%

          &:last-child
            border-right: 2px solid $background-color

        svg
          fill: $primary-text-color
          height: 16px
          width: 16px

      &.bigcartel-credit
        padding: 24px

        .badge
          width: 100%

          a
            text-indent: -119988px
            overflow: hidden
            text-align: left
            background: url(#{'{{ "bc_badge.svg" | theme_image_url }}'}) no-repeat
            border: none
            display: block
            height: 24px
            width: 80px
            margin: 0 auto
            opacity: .6

.select
  +all-transitions
  border: 2px solid $background-color
  color: $primary-text-color
  font-family: $secondary-font
  height: 64px
  margin-bottom: 20px
  max-width: 100%
  padding: 0
  position: relative
  text-transform: uppercase
  width: 100%

  select
    +all-transitions
    +appearance(none)
    background: none
    border: 0
    color: $primary-text-color
    font-family: $secondary-font
    font-size: 16px
    height: 100%
    line-height: 2em
    padding: 0 66px 0 20px
    position: relative
    text-transform: uppercase
    width: 100%
    z-index: 2

    option
      background-color: #FFF
      color: #000

      &:disabled
        color: graytext

    &:focus
      box-shadow: none
      outline: none

    &::-ms-expand
      display: none

  svg
    +all-transitions
    +vertical-align
    fill: $primary-text-color
    height: 13px
    margin: 0 auto
    width: 13px
    z-index: 1

  &:hover, &:focus-within
    color: $primary-text-color
    border-color: $primary-text-color

    select
      color: $primary-text-color

      option:disabled
        color: graytext

    .arrow-holder
      border-left: 2px solid $primary-text-color

    svg
      fill: $primary-text-color

  .arrow-holder
    +all-transitions
    position: absolute
    right: 0
    width: 60px
    height: 60px
    border-left: 2px solid $background-color
    text-align: center
    top: 0

button, a.button
  +all-transitions
  +transform(translateZ(0))
  border: 0px
  background: $button-background-color
  color: $content-background-color
  cursor: pointer
  display: block
  font-family: $secondary-font
  font-size: 16px
  line-height: 1
  max-width: 100%
  outline: none
  padding: 25px
  text-transform: uppercase
  width: 100%

  &.minimal-button
    background: none
    color: $primary-text-color
    border: none
    font-size: 13px
    padding: 0
    width: auto

    &:not(:disabled):hover, &:not(:disabled):active, &:not(:disabled):focus
      +transform(none)
      text-decoration: underline

  &:not(:disabled):hover, &:not(:disabled):active, &:not(:disabled):focus
    opacity: .8

  &:disabled, &.disabled
    cursor: not-allowed
    opacity: .3

input, textarea
  +all-transitions
  +appearance(none)
  background: $background-color
  border: 1px solid $background-color
  border-radius: 0
  color: $primary-text-color
  font-family: $secondary-font
  font-size: 16px
  max-width: 100%
  padding: 14px

h1.header-title
  display: none
  color: $primary-text-color
  font-size: 24px
  line-height: 30px
  margin: 24px auto

h1.page-title
  color: $accent-text-color
  margin: 88px auto
  text-align: center

  @media screen and (max-width: $break-small)
    color: $primary-text-color
    font-size: 24px
    line-height: 30px
    margin: 24px auto

section.content
  +pie-clearfix
  margin: 0 auto 160px
  padding: 0 64px
  position: relative
  width: 100%
  z-index: 2

  @media screen and (max-width: $break-large)
    padding: 0 32px

  @media screen and (max-width: $break-small)
    margin-bottom: 0
    padding: 0

  &.hide-featured
    display: none

  .page-content
    +pie-clearfix
    background: $content-background-color
    margin: 0 auto
    min-height: 240px
    position: relative
    width: 100%

/* repeating patterns from http://www.heropatterns.com */

.pattern
  background-color: $accent-background-color
  height: 360px
  left: 0
  overflow: hidden
  position: absolute
  top: 160px
  width: 100%
  z-index: 1

  @media screen and (max-width: $break-small)
    display: none

  &.wiggle
    background-image: url("data:image/svg+xml,%3Csvg width='104' height='52' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='#{"{{ theme.accent_pattern_color | replace: '#', '%23' }}"}' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E")

  &.bubbles
    background-image: url("data:image/svg+xml,%3Csvg width='200' height='200' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='#{"{{ theme.accent_pattern_color | replace: '#', '%23' }}"}' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E")

  &.diagonal-lines
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='#{"{{ theme.accent_pattern_color | replace: '#', '%23' }}"}' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E")

  &.random-shapes
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 80 80'%3E%3Cg fill='#{"{{ theme.accent_pattern_color | replace: '#', '%23' }}"}' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E")

  &.bank-note
    background-image: url("data:image/svg+xml,%3Csvg width='200' height='40' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='#{"{{ theme.accent_pattern_color | replace: '#', '%23' }}"}' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E")

  &.bathroom-floor
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 80 80'%3E%3Cg fill='#{"{{ theme.accent_pattern_color | replace: '#', '%23' }}"}' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E")

  &.autumn
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='176' height='48' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='#{"{{ theme.accent_pattern_color | replace: '#', '%23' }}"}' fill-opacity='0.4'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")

  &.kiwi
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68' height='88' viewBox='0 0 34 44'%3E%3Cg fill='#{"{{ theme.accent_pattern_color | replace: '#', '%23' }}"}' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M1 6.2C.72 5.55.38 4.94 0 4.36v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 22 12.04 12.04 0 0 0 1 28.2c-.28-.65-.62-1.26-1-1.84v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 44h21.6a12.05 12.05 0 0 0 5.2-4.36V26.36A12.05 12.05 0 0 0 28.8 22a12.05 12.05 0 0 0 5.2-4.36V4.36A12.05 12.05 0 0 0 28.8 0H7.2A12.04 12.04 0 0 0 1 6.2zM17.36 23H12a10 10 0 1 0 0 20h5.36a11.99 11.99 0 0 1 0-20zm1.28-2H24a10 10 0 1 0 0-20h-5.36a11.99 11.99 0 0 1 0 20zM12 1a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm0 14a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2zM12 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 43a10 10 0 1 0 0-20 10 10 0 0 0 0 20zm0-14a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 37a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2z'/%3E%3C/g%3E%3C/svg%3E")

  &.welcome-pattern
    height: 700px
    overflow: hidden

    canvas, .welcome-text
      +animation(fade-in-load ease-in 900ms forwards)

    @media screen and (max-width: $break-medium)
      position: relative
      top: 0

    @media screen and (max-width: $break-small)
      display: block
      height: calc(100vh - 64px)

  &.no-pattern
    background-color: $accent-background-color
    background-image: none

  &.welcome-image
    +animation(fade-in-load ease-in 900ms forwards)
    background-image: #{"{% if theme.images.welcome_image != blank %}url(\'{{ theme.images.welcome_image.url | constrain: 1400 }}\'){% else %}none{% endif %}"}
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: cover

    canvas
      display: none !important

  &.hide-featured
    height: calc(100vh - 160px)
    position: relative
    top: 0

    @media screen and (max-width: $break-medium)
      height: calc(100vh - #{$header-height-tablet})

    @media screen and (max-width: $break-small)
      height: calc(100vh - #{$header-height-mobile})

  canvas
    height: 100%
    margin: 0 auto
    position: absolute
    top: 0
    z-index: -1

  @media screen and (max-width: $break-medium)
    top: $header-height-tablet

  @media screen and (max-width: $break-small)
    top: $header-height-mobile

footer
  background: $accent-background-color
  bottom: 0
  color: $accent-text-color
  display: block
  min-height: 288px
  overflow: hidden
  padding: 64px 0
  position: absolute
  width: 100%

  @media screen and (max-width: $break-medium)
    padding-bottom: 96px

  @media screen and (max-width: $break-small)
    display: none
    height: 0
    min-height: 0

  .bigcartel-credit
    float: right
    margin-right: 8px

    .badge
      width: 100%

      a
        text-indent: -119988px
        overflow: hidden
        text-align: left
        background: url(#{'{{ "bc_badge.svg" | theme_image_url }}'}) no-repeat
        border: none
        display: block
        height: 24px
        width: 80px
        margin: 0 auto
        opacity: .6

.footernav
  display: inline-block
  max-width: 300px
  padding-right: 32px
  vertical-align: top
  width: 25%

  h4, h4 a
    color: $accent-text-color
    margin-bottom: 24px
    text-transform: uppercase

  h4
    padding: 0 8px

  ul
    list-style: none
    margin: 0
    padding: 0

    li
      display: block

      a
        +all-transitions
        color: $accent-text-color
        display: block
        font-size: 15px
        line-height: 1.25em
        opacity: .9
        padding: 9px 8px

        &:hover, &:focus
          opacity: 1
          text-decoration: underline

    &.social-icons
      list-style: none
      margin: 0
      padding: 0

      li
        display: block

        a
          color: $accent-text-color
          display: block

          span
            display: inline-block
            margin-left: 8px

          svg
            +all-transitions
            display: inline-block
            fill: $accent-text-color
            height: 16px
            opacity: .6
            position: relative
            top: 3px
            width: 16px

          &:hover svg
            opacity: 1

.custom-page
  font-size: 16px
  line-height: 1.5em
  max-width: 828px
  padding: 64px
  width: 100%

  a
    +all-transitions
    color: $links-color
    text-decoration: underline

    &:hover
      opacity: .6

  img, iframe
    display: block
    max-width: 100%

  ol, ul
    margin: 1em 0
    padding: 0

  ul
    list-style: disc
    list-style-position: inside

  ol
    list-style: decimal
    list-style-position: inside

  @media screen and (max-width: $break-medium)
    padding: 32px

.success-page
  font-size: 14px
  text-align: center

.footer-cart
  background: $content-background-color
  border-top: 2px solid $background-color
  bottom: 0
  color: $primary-text-color
  display: none
  height: 64px
  left: 0
  position: fixed
  text-align: center
  width: 100%
  z-index: 4

  @media screen and (max-width: $break-medium)
    display: block

  .cart-num-items
    color: $primary-text-color
    display: inline-block
    line-height: 64px
    text-transform: uppercase

  svg
    display: inline-block
    fill: $primary-text-color
    height: 16px
    margin: 0 10px
    position: relative
    top: 3px
    width: 16px

.header-cart
  height: 64px
  color: $primary-text-color
  display: inline-block
  line-height: 64px !important
  text-transform: uppercase

  svg
    display: inline-block
    fill: $primary-text-color
    height: 16px
    margin: 0 10px
    position: relative
    top: 3px
    width: 16px

.footer-cart-buttons
  background: $content-background-color
  border-top: 2px solid $background-color
  bottom: 0
  color: $primary-text-color
  display: none
  height: 64px
  left: 0
  position: fixed
  text-align: center
  width: 100%
  z-index: 4

  &.no-border
    border-top: 0

  @media screen and (max-width: $break-medium)
    display: block

  a
    +flex
    +flex-grow(1)
    float: left
    font-size: 14px
    line-height: 64px
    text-align: center
    text-transform: uppercase
    width: 50%

    &:last-child
      background: $button-background-color
      color: $content-background-color

.no-products-message
  +vertical-align
  display: block
  font-size: 14px
  line-height: 22px
  margin: 0
  padding: 64px

  a
    color: $links-color

#contact, #products, #product, .custom, #cart, #success
  .hide-header
    display: none

@media screen and (max-width: $break-small)
  .header-title
    display: none

  #contact, #products, #product, .custom, #cart, #success
    .store-link, h1.page-title
      display: none

    .hide-header
      display: block
      font-size: inherit
      line-height: inherit
      margin: inherit
      text-align: center