

#maintenance
  padding: 100px 15px

  @media screen and (max-width: $break-medium)
    padding: 60px 20px

  .message-container
    +flexbox
    +align-items(center)
    +justify-content(center)
    +flex-direction(column)
    background: var(--content-background-color)
    color: var(--primary-text-color)
    margin: 0 auto
    max-width: 720px
    padding: 24px 48px 40px
    text-align: center
    width: 100%
    gap: 40px

    @media screen and (max-width: $break-small)
      padding-left: 16px
      padding-right: 16px

    h1.store-name
      font-size: 2em
      margin: 0 0 16px 0
      height: auto
      padding: 0

    .maintenance-message *
      text-align: inherit
    
    .social-icons
      margin: 16px 0 0 0