.product-list-container
  margin: 0 auto
  max-width: 1600px

.product-list
  --gap: var(--large-padding)
  --row-gap: 48px
  --columns: #{"{{ theme.max_products_per_row }}"}
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  margin: 0
  gap: var(--gap)
  row-gap: var(--row-gap)

  &.justify-center
    justify-content: center

  @media screen and (max-width: $break-large)
    --gap: var(--med-padding)
    --columns: calc(#{"{{ theme.max_products_per_row }}"} - 1)

  @media screen and (max-width: $break-small)
    --columns: #{"{{ theme.max_products_per_row_mobile }}"}
    --gap: var(--small-padding)
    justify-content: flex-start
    row-gap: 24px

.product-list-thumb
  position: relative
  text-decoration: none
  width: calc((100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns)))

.product-list-link
  color: var(--primary-text-color)
  background: var(--content-background-color)
  display: block
  text-decoration: none

  &:hover, &:focus
    color: var(--primary-text-color)
    text-decoration: none

    .product-list-thumb-name
      text-decoration: underline

.product-list-image-container
  overflow: hidden
  position: relative

  &:before
    display: block
    width: 100%
    content: ""
    padding-bottom: 100%
    height: 0

.product-list-image
  position: absolute
  display: block
  top: 0
  left: 0
  width: 100%
  height: 100%

  &.grid-cover
    object-fit: cover

  &.grid-contain
    object-fit: contain

.product-list-thumb-info
  color: var(--primary-text-color)
  padding: 16px 0
  font-size: 1.1em
  position: relative
  display: flex
  flex-direction: column
  gap: 8px
  text-align: center

  @media screen and (max-width: $break-large)
    padding: 12px 0
    font-size: 1em

.product-list-thumb-name
  font-weight: normal
  overflow-wrap: break-word
  position: relative

.price-suffix
  white-space: nowrap

.product-list-thumb-options-description
  font-style: italic
  font-size: 0.9em
  margin-top: -8px

.product-list-thumb-status
  +flexbox
  +align-items(center)
  +justify-content(center)
  font-size: 0.8rem
  font-style: normal
  font-weight: 500
  left: 16px
  padding: 6px 12px
  position: absolute
  text-align: center
  text-transform: uppercase
  top: 16px
  white-space: nowrap

  &.status-primary
    background: var(--badge-background-color-primary)
    color: var(--badge-text-color-primary)

  &.status-secondary
    background: var(--badge-background-color-secondary)
    color: var(--badge-text-color-secondary)

.no-results
  +flexbox
  +align-items(center)
  +justify-content(center)
  background: var(--content-background-color)
  text-align: center
  line-height: 1.5em
  min-height: 240px
  margin-bottom: 128px
  max-width: 1600px
  margin: 0 auto
  padding: 0 40px

  a
    text-decoration: underline

.pagination
  +flexbox
  +flex-direction(row)
  +align-items(center)
  margin-top: 48px

  @media screen and (max-width: $break-small)
    margin-bottom: 48px
    padding: 0 32px

.page-link
  +flexbox
  +align-items(center)
  +justify-content(center)
  background: var(--button-background-color)
  text-align: center
  height: 48px
  padding: 0
  position: relative
  text-decoration: none
  width: 48px

  &:not(.disabled):hover, &:not(.disabled):focus
    background: var(--button-background-color)

    svg
      fill: var(--button-text-color)

  &.next-page-link
    margin-left: 2px

  &.disabled
    cursor: not-allowed
    opacity: .8

  svg
    display: block
    fill: var(--button-text-color)
    height: 16px
    width: 16px

.pagination-caption
  font-size: 1.1em
  margin-left: 32px