<h1 class="page-title hide-mobile">{{ page.name }}</h1>
{% if errors != blank %}
  <ul class="errors cart-errors">
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}
<div class="page-content cart-page{% if cart.items == blank %} empty-cart{% endif %}">
  <div class="empty-cart-message no-results">
    <p>Your cart is empty! Sounds like a good time to <a href="/products">start shopping</a></p>
  </div>
  {% if cart.items != blank %}
    <form method="post" action="/cart" id="cart-form" class="cart-form">
      <ul class="cart-items">
        {% for item in cart.items %}
          <li class="cart-item" data-item-id="{{ item.id }}">
            <div class="item-image-details">
              <a class="item-image" href="{{ item.product.url }}" title="View {{ item.product.name | escape }}">
                <button title="Remove item from cart" class="item-delete" data-item-id="{{ item.id }}" type="button"><svg aria-hidden="true" height="12" width="12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.071 8.07"><path d="M7.924 6.51L5.45 4.035 7.925 1.56c.196-.195.196-.512 0-.707L7.217.146c-.195-.195-.512-.195-.707 0L4.036 2.62 1.56.147c-.194-.195-.51-.195-.706 0L.147.854c-.196.195-.196.512 0 .707l2.475 2.476L.147 6.51c-.196.195-.196.512 0 .707l.707.707c.195.195.512.195.707 0L4.037 5.45 6.51 7.923c.195.195.512.195.707 0l.707-.707c.197-.196.197-.512 0-.707z"/></svg></button>
                <img
                  alt=""
                  class="blur-up lazyload"
                  src="{{ item.product.image | product_image_url | constrain: 20 }}"
                  data-srcset="
                    {{ item.product.image | product_image_url | constrain: 120 }} 120w,
                    {{ item.product.image | product_image_url | constrain: 240 }} 240w,
                    {{ item.product.image | product_image_url | constrain: 320 }} 320w,
                  "
                  data-sizes="auto"
                >
              </a>
              <div class="item-details">
                <a class="item-product-link" title="View {{ item.product.name | escape }}" href="{{ item.product.url }}">
                  <span class="item-details-price">{{ item.unit_price | money: theme.money_format }}</span>
                  <span class="item-details-name">{{ item.product.name }}</span>
                  {% unless item.product.has_default_option %}
                    <span class="item-details-option">{{ item.option.name }}</span>
                  {% endunless %}
                </a>
              </div>
            </div>
            <div class="item-quantity-holder" data-cart-id="{{ item.id }}">
              <div class="item-quantity-inner">
                <label class="quantity-label" for="item_{{item.id}}_qty">QTY.</label>
                {{ item | item_quantity_input, nil, 'option-quantity' }}
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
      <div class="cart-footer fixed-cart-footer" aria-live="polite" aria-atomic="true">
        <h3 class="cart-total centered-total">Subtotal <span class="cart-subtotal-amount">{{ cart.total | money: theme.money_format }}</span></h3>
      </div>
      <div class="cart-footer-buttons">
        <a class="button continue-shopping" href="/products">Continue shopping</a>
        <button type="submit" name="checkout" title="Checkout" class="button checkout-btn">Checkout</button>
      </div>
    </form>
  {% endif %}
</div>